/deep/ .mat-dialog-container {
    padding: 0!important;
}

.ballot-section {
    margin-bottom: 2rem;
}

.phase-group-button {
    button {
        margin: 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

/deep/ .ngx-charts .label {
    font-size: 14px !important;
    font-weight: normal;
}