@import '../../../scss/variables';

$h1: 2rem;

.voter-management {
    .header {
        font-size: $h1;
        width: 100%;
    }

    .content {
        .user-profile {
            margin: 15px auto;
            background-color: #fff;
            box-shadow: 4px 0 4px rgba(0,0,0,.1);
            padding: 20px;
            width: 80%;   /* for laptop, desktop: 65% & 381px */
            height: 500px;

            .title {
                margin-bottom: 0;
                font-size: 1.2rem;
            display: inline-block;
                text-align: center;
                width: 100%;
            }

            .password-generate {
                margin: 15px 0;
                text-align: center;
                font-size: 1.2rem;
            }

            .search-user {
                mat-form-field {
                    width: 75%;
                }

                .search-button {
                    margin-left: 15px;
                }
            }

            .password-button {
                text-align: center;
                margin-top: 15px;
            }

            .generated-password {
                font-weight: bold;
            }

            .citizen-image {
                text-align: center;
            }

            .citizen-not-found {
                text-align: center;
                display: block;
                height: fit-content;
                margin-top: 50px;

                .material-icons {
                    font-size: 150px;
                    color: $primary-darker;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }

    }
}
