<!-- <nav class="navbar navbar-expand-lg custom-nav">
    <button mat-button class="navbar-brand" [routerLink]="['voting']">
        <img src="/assets/brand/untitled.svg" width="30" height="30" class="d-inline-block align-top middle-brand-text">
        {{brandName}}
    </button>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <button name="{{menuItem.title}}" class="nav-item-text" [routerLink]="[menuItem.path]" mat-button>
                {{menuItem.title}}
            </button>
        </li>
        <li routerLinkActive="active">
            <button name="Sign out" class="nav-item-text" (click)="onLogout()" mat-button>
                Sign out
            </button>
        </li>
    </ul>
</nav> -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>{{brandName}}</h3>
    </div>

    <ul class="nav-list-unstyled components">
        <div class="user-session">
            <p>Welcome User</p>
        </div>
        <li class="menu-item">
            <a>Home</a>
        </li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} menu-item">
            <a class="item-text" [routerLink]="[menuItem.path]">
                {{menuItem.title}}
            </a>
        </li>
    </ul>

</nav>