@import '~scss/variables';
.fancy-font {
    font-family: 'Lobster', cursive;
    font-size: 32px;
    padding-left: 10px;
    cursor: default;
}
.custom-nav {
    background-color: white;
    width: 100vw;
    height: 65px;

    /* box-sizing: border-box;  */// should in ul
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.3); */
    border-bottom: 1px solid #8f497c;
    padding: 0 25px 0px 0px;
}

.text-color {
    color: $brand-secondary !important;
}

.nav-link {
    color: $text-on-secondary !important;
}

.navbar-brand {
    padding-left: 30px;
}
.middle-brand-text {
    margin-top: 3px;
}

.nav-item-text {
    font-size: 16px;
}

/* Hamburger style */
.hamburger {
    height: 100%;
    margin-right: 10px;
    .material-icons {
        color: $text-on-secondary;
    }
}
/* Hamburger style */

.banner {
    background-image: url("../../../assets/brand/banner1.jpg");
    height: 200px;
    width: calc(100vw - 250px);
    top: 65px;
    left: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 1000;
}

/* Item style */