<div class="row justify-content-md-center" *ngIf="!isLoading">
    <div class="col greeting-text">
        <div class="welcome-text">WELCOME TO</div>
        <div class="logo">
            <img  class="d-inline-block votereum-logo" src="../../../assets/brand/votereum_full.png"  alt="">
        </div>
        <div class="sub-title">
            A secure online voting system. Building for a brighter tomorrow.
        </div>
    </div>
    <div class="col-md-auto col-layout">
        <div class="toolbar-box">
            <mat-toolbar class="login-toolbar">
                <!-- <img src="../../../assets/brand/votereum_logo.png" width="51px" height="60px" class="d-inline-block align-top" alt=""> -->
                <span id="welcome" class="fill-remaining-space">
                    {{ pageStrings.SIGN_IN | uppercase }}
                </span>
            </mat-toolbar>
        </div>
        <form [formGroup]="loginFormGroup" class="form-group">
            <!-- <div class="user-icon">
                <i class="fas fa-user-cog"></i>
            </div> -->
            <!-- ID -->
            <!-- <mat-form-field class="full-width-input">
                <input id="input-id" matInput placeholder="{{ pageStrings.CITIZEN_ID }}" formControlName="citizendID">
                <mat-error *ngIf="citizenID.invalid">{{getIdErrorMessage()}}</mat-error>
            </mat-form-field> -->
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>{{ pageStrings.CITIZEN_ID }}</mat-label>
                <input id="input-id" matInput placeholder="Enter your ID" formControlName="citizendID">
                <mat-error *ngIf="citizenID.invalid">{{getIdErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- ID -->

            <!-- Password -->
            <!-- <mat-form-field class="full-width-input">
                <input id="input-password" type="password" matInput placeholder="{{ pageStrings.PASSWORD }}" formControlName="password">
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field> -->
            <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>{{ pageStrings.PASSWORD }}</mat-label>
                <input id="input-password" type="password" matInput placeholder="Enter your password" [type]="hidePwd ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix style="cursor: pointer;" (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- Sign in button -->
            <div class="flex-center">
                <button id="sign-in-btn" mat-flat-button color="accent" (click)="onLogin()" class=" full-width-input"
                            [disabled]="!loginFormGroup.valid || canDisableSignInButton">
                    <span class="text-color-login-form">{{ pageStrings.LOGIN_BUTTON_TEXT }}</span>
                </button>
            </div>
            <!-- <div class="sign-up-text">
                <div class="checkbox session keep-signed">
                    <mat-checkbox class="checkbox-login" formControlName="keepSignIn">{{ pageStrings.KEEP_SIGNED_IN_TEXT | uppercase }}</mat-checkbox>
                </div>
                <mat-divider class="session-divider" [vertical]="true"></mat-divider>
                <div class="session forget-pwd">
                    <a class="session-text">{{ pageStrings.FORGET_PASSWORD | uppercase }}</a>
                </div>
            </div> -->
        </form>
    </div>
</div>
<div class="row justify-content-md-center centered-spinner" *ngIf="isLoading">
    <!-- <mat-spinner mode="indeterminate"></mat-spinner> -->
    <div class="container-loader">
        <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
             <circle cx="170" cy="170" r="160" stroke="#8f497c"/>
             <circle cx="170" cy="170" r="135" stroke="#3c5064"/>
             <circle cx="170" cy="170" r="110" stroke="#8f497c"/>
             <circle cx="170" cy="170" r="85" stroke="#3c5064"/>
        </svg>
    </div>
</div>