<div class="wrapper">
    <!-- Top Bar -->
    <app-header></app-header>
    <!-- End of Top Bar -->
    <!-- Left menu -->
    <div class="left-menu">
        <!-- TODO: add fixed sidebar-->
        <app-navbar></app-navbar>
    </div>
    <!-- End of Left menu -->
    
    <!-- Dark Overlay element -->
    <!-- <div class="overlay" [ngClass]='{"active":isSideBarActive}' (click)="onCloseSideBar()"></div> -->
    <!-- End of Dark Overlay element -->

    <!-- Main content -->
    <div class="page-content" [ngClass]='{"hide-sidebar":!isSideBarActive}'>
        <router-outlet></router-outlet>
    </div>
    <!-- End of Main content -->
</div>
