.example-card {
    /* background-color: lightblue; */
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.brief-text {
    max-height: 100px;
}

.btn-read-more {
    margin-left: 65%;
}