<!--Sticky notif-->
<div class="row justify-content-center sticky-ether-account" *ngIf="!hasEtherAccount">

    <div class="">
        You haven't set up your blockchain account. You may not be eligible to submit your
        ballot when the time comes.
    </div>
    <div class="col-3">
        kk
    </div>

</div>
<div class="voting-grid">
    <div class="items">
        <!--A candidate-->
        <div class="item" *ngFor="let candidate of candidates" (click)="onCandidateSelected(candidate)">

            <!--A candidate information-->
            <div class="candidate">
                <div class="image">
                    <img  src="{{ candidate['picture' ]}}">
                </div>
                <div class="name">
                    <p>{{ candidate['title'] + '. ' + candidate['firstName'] + ' ' + candidate['lastName'] | titlecase }}</p>
                </div>
                <hr>
                <div class="quote">
                    <p> {{ candidate['quote'] }}</p>
                </div>
            </div>

            <!--Overlay upon voted-->
            <div class="overlay" [ngClass]="{ 'active': candidate['isSelected'] }">
                <div>
                    <i class="material-icons">
                        check_circle_outline
                    </i>
                    <p>Voted</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center sticky-footer"
         [ngStyle]="{ 'width': isSideBarActive ? 'calc(100% - 250px)' : '100%'}" *ngIf="hasEtherAccount">
        <button class="btn-lg btn-block w-50" color="primary" (click)="onVoteToBlockchain()" mat-raised-button>Vote</button>
    </div>
</div>


