<div class="col-md-auto px-0 col-layout">
    <div class="toolbar-box">
        <mat-toolbar class="login-toolbar">
            <span id="welcome" class="fill-remaining-space">
                BALLOT SETUP CONFIRMATION
            </span>
        </mat-toolbar>
    </div>
    <!--*ngIf="!error && !isSuccess && !isLoading"-->
    <div class="form-gourp" *ngIf="!error && !isSuccess && !isLoading">
        <div class="sign-up-text">
            <div>
                <label class="session-text" >
                    IMPORTANT: Please re-check before submitting. Once set up, ballot information cannot be edited.
                    Do you want to proceed?
                </label>
            </div>
        </div>

        <!-- Button group -->
        <div class="flex-center">
            <button (click)="onCancelClicked(false)" mat-stroked-button class="full-width-input cancel-btn">
                <span class="text-color-login-form"> Cancel </span>
            </button>
            <button id="sign-in-btn" (click)="onSetupClicked()" mat-flat-button color="accent" class="full-width-input setup-btn">
                <span class="text-color-login-form"> Proceed </span>
            </button>
        </div>
    </div>

    <div class="info-message" *ngIf="isSuccess || error ">
        <div *ngIf="error && !isLoading">
            <p>Error message: {{ error}}</p>
            <p>Try again later!</p>
            <button (click)="onCancelClicked(false)" mat-flat-button color="accent" class="full-width-input setup">
                <span class="text-color-login-form">Close</span>
            </button>
        </div>

        <div *ngIf="isSuccess && !isLoading">
            Successfully set up the ballot!
            <button (click)="onCancelClicked(true)" mat-flat-button color="accent" class="full-width-input setup">
                <span class="text-color-login-form">OK</span>
            </button>
        </div>
    </div>

    <div class="info-message" *ngIf="isLoading">
        <p> Establishing the ballot. Please wait...</p>
        <!-- <mat-spinner mode="indeterminate"></mat-spinner> -->
        <div class="container-loader">
            <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                 <circle cx="170" cy="170" r="160" stroke="#8f497c"/>
                 <circle cx="170" cy="170" r="135" stroke="#3c5064"/>
                 <circle cx="170" cy="170" r="110" stroke="#8f497c"/>
                 <circle cx="170" cy="170" r="85" stroke="#3c5064"/>
            </svg>
        </div>
    </div>
</div>
