.score-grid {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.wrapper {
    background-color: white;
}

.info-message {
    padding: 100px;
    width: 100%;
    .text-h1 {
        font-weight: 300;
    }
    mat-spinner {
        margin: 0 auto
    }

}