<div class="container-fluid wrapper score-grid no-gutters">
    <ngx-charts-bar-vertical *ngIf="!isGettingData"
        [scheme]="colorScheme"
        [results]="result"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
    <div class="info-message" *ngIf="isGettingData">
        <mat-spinner mode="indeterminate"></mat-spinner>
        <p class="text-h1 text-center">This may take a while. Please wait</p>
    </div>
</div>
