<div class="container-fluid wrapper score-grid no-gutters justify-content-center">
    <ngx-charts-bar-vertical *ngIf="!isGettingData"
        [scheme]="colorScheme"
        [view]="view"
        [results]="result"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [yAxisTickFormatting]="yAxisTickFormatting"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
    <div class="info-message" *ngIf="isGettingData">
        <div class="container-loader">
            <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                 <circle cx="170" cy="170" r="160" stroke="#8f497c"/>
                 <circle cx="170" cy="170" r="135" stroke="#3c5064"/>
                 <circle cx="170" cy="170" r="110" stroke="#8f497c"/>
                 <circle cx="170" cy="170" r="85" stroke="#3c5064"/>
            </svg>
        </div>
        <p class="text-h1 text-center">This may take a while. Please wait</p>
    </div>
</div>
