@import '~scss/variables';

#sidebar {
    overflow: visible;
    width: 250px;
    position: fixed;
    top: 65px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $brand-secondary;
    color: $gray-lighter;
    transition: all 0.3s;
    /* custom font */
    font-weight: 600;
    font-size: 17px;
    box-shadow: 4px 0 4px rgba(0,0,0,.1);
    /* hide sidebar */
    margin-left: -250px;
    .sidebar-header {
        padding: 20px 20px 0 20px;
        /* background: $primary-color;
        color: $text-on-primary; */
        background: $brand-secondary;
        color: $gray-lighter;
        /* border-bottom: 1px solid $primary-dark; */
        /* cursor: context-menu; */
    }
    .nav-list-unstyled {
        padding-left: 0;
        list-style: none;
        p {
            border-bottom: 1px solid $gray-lighter;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-right: 10px;
            padding-left: 15px;
        }
        .user-session {
            color: $gray-lighter;
            font-family: 'Poppins', sans-serif;
            /*font-size: 1.1em;
            font-weight: 300; */
            line-height: 1.7em;
        }
        .menu-item a {
            padding: 15px;
            display: block;
            cursor: pointer;
            color: $gray-lighter;
        }
        .menu-item.active {
            text-decoration: none;
            background: -moz-linear-gradient(0deg, #8f497c 0%, #887095 10%, #8297ae 20%, #5F7389 32%, #3c5064 50%, #3C5064 55%, #3c5064 60%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8f497c), color-stop(10%, #887095), color-stop(20%, #8297ae), color-stop(32%, #5F7389), color-stop(50%, #3c5064), color-stop(55%, #3C5064), color-stop(60%, #3c5064)); /* safari4+,chrome */
            background: -webkit-linear-gradient(0deg, #8f497c 0%, #887095 10%, #8297ae 20%, #5F7389 32%, #3c5064 50%, #3C5064 55%, #3c5064 60%);
            .item-text {
                color: $white !important;
            }
        }
        .menu-item a:hover, a:focus {
            color: $white;
            background: -moz-linear-gradient(0deg, #8f497c 0%, #887095 10%, #8297ae 20%, #5F7389 32%, #3c5064 50%, #3C5064 55%, #3c5064 60%); /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8f497c), color-stop(10%, #887095), color-stop(20%, #8297ae), color-stop(32%, #5F7389), color-stop(50%, #3c5064), color-stop(55%, #3C5064), color-stop(60%, #3c5064)); /* safari4+,chrome */
            background: -webkit-linear-gradient(0deg, #8f497c 0%, #887095 10%, #8297ae 20%, #5F7389 32%, #3c5064 50%, #3C5064 55%, #3c5064 60%);
            text-decoration: none;
            transition: all 0.3s;
        }
    }   
}

#sidebar.active-sidebar {
    margin-left: 0px;
}

.user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.pointer {
    cursor: pointer;
}
