@import '~scss/variables';

#sidebar {
    overflow: visible;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $brand-secondary;
    color: $gray-lighter;
    transition: all 0.3s;
    /* custom font */
    font-weight: 600;
    font-size: 17px;
    box-shadow: 4px 0 4px rgba(0,0,0,.1);
    /* hide sidebar */
    margin-left: -250px;
    .sidebar-header {
        padding: 20px 20px 0 20px;
        /* background: $primary-color;
        color: $text-on-primary; */
        background: $brand-secondary;
        color: $gray-lighter;
        /* border-bottom: 1px solid $primary-dark; */
        /* cursor: context-menu; */
    }
    .nav-list-unstyled {
        padding-left: 0;
        list-style: none;
        p {
            border-bottom: 1px solid $gray-lighter;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-right: 10px;
            padding-left: 15px;
        }
        .user-session {
            color: $gray-lighter;
            font-family: 'Poppins', sans-serif;
            /*font-size: 1.1em;
            font-weight: 300; */
            line-height: 1.7em;
        }
        .menu-item {
            font-size: 16px;
            margin-bottom: 2px;
            a {
                padding: 15px;
                display: block;
                cursor: pointer;
                color: $gray-lighter;
            }
        }
        .menu-item.active {
            text-decoration: none;
            background-color: #58636d;
            font-size: 20px;
            .item-text {
                color: $white !important;
                border-left: 6px solid #8297ae;
            }
        }
        .menu-item a:hover, a:focus {
            color: $white;
            text-decoration: none;
            transition: all 0.3s;
            background-color: #58636d;
        }
    }   
}

#sidebar.active-sidebar {
    margin-left: 0px;
}

.user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.pointer {
    cursor: pointer;
}
