@import '~scss/variables';

#sidebar {
    overflow: visible;
    width: 250px;
    position: fixed;
    top: 65px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $primary-color;
    color: $text-on-primary;
    transition: all 0.3s;
    /* custom font */
    font-weight: 600;
    font-size: 17px;
    box-shadow: 4px 0 4px rgba(0,0,0,.1);
    /* hide sidebar */
    margin-left: -250px;
    .sidebar-header {
        padding: 20px 20px 0 20px;
        /* background: $primary-color;
        color: $text-on-primary; */
        background: $primary-color;
        color: $text-on-primary;
        /* border-bottom: 1px solid $primary-dark; */
        /* cursor: context-menu; */
    }
    .nav-list-unstyled {
        padding-left: 0;
        list-style: none;
        p {
            border-bottom: 1px solid $primary-dark;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-right: 10px;
            padding-left: 15px;
        }
        .user-session {
            color: $text-on-primary;
            font-family: 'Poppins', sans-serif;
            /*font-size: 1.1em;
            font-weight: 300; */
            line-height: 1.7em;
        }
        .menu-item a {
            padding: 15px;
            display: block;
            cursor: pointer;
            color: $text-on-primary;
        }
        .menu-item.active {
            text-decoration: none;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
            .item-text {
                color: $secondary-color !important;
            }
        }
        .menu-item a:hover, a:focus {
            color: $secondary-color;
            background-color: $text-hover-on-primary;
            text-decoration: none;
            transition: all 0.3s;
        }
    }   
}

#sidebar.active-sidebar {
    margin-left: 0px;
}


