<nav id="sidebar" [ngClass]="{'active-sidebar': isSideBarActive}">
    <div class="sidebar-header">
            <i class="material-icons md-48">account_circle</i>
    </div>

    <ul class="nav-list-unstyled components">
        <div class="user-session">
            <p>Welcome User</p>
        </div>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} menu-item">
            <a class="item-text" [routerLink]="[menuItem.path]">
                {{menuItem.title}}
            </a>
        </li>
    </ul>

</nav>