<mat-card class="example-card">
    <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header> -->
    <img mat-card-image src="{{ candidate['avatar'] }}" alt="Photo of a candidate" height="225" width="360">
    <mat-card-content>
        <mat-card-title>{{ candidate['name'] }}</mat-card-title>
        <mat-card-subtitle>{{ candidate['party'] }}</mat-card-subtitle>
        <p class="brief-text">
            {{ candidate['brief'] }}
        </p>
        <button mat-button class="btn-read-more">Read more</button>
    </mat-card-content>
    <mat-card-actions>
        <mat-checkbox [(ngModel)]="voted" (click)="onVoteClicked()" 
            align="end">Vote</mat-checkbox>
    </mat-card-actions>
</mat-card>