<div class="col-md-auto col-layout">
    <div class="toolbar-box">
        <mat-toolbar class="login-toolbar">
                <span id="welcome" class="fill-remaining-space">
                    SET UP BLOCKCHAIN ACCOUNT
                </span>
        </mat-toolbar>
    </div>
    <!--*ngIf="!error && !isSuccess && !isLoading"-->
    <form [formGroup]="accountForm" class="from-gourp" *ngIf="!error && !isSuccess && !isLoading">
        <div class="user-icon">
            <i class="fas fa-user-cog"></i>
        </div>
        <!-- Password -->
        <mat-form-field class="full-width-input">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
        </mat-form-field>

        <div class="sign-up-text">
            <div>
                <label class="session-text">
                    Please enter your system password to set up your blockchain account. <br>
                    <strong>IMPORTANT:</strong> 
                    You cannot change or recover this password once it is lost. In case of losing password, you can
                    only request for a new blockchain account in Registration Phrase.
                </label>
            </div>
            <div class="checkbox session keep-signed">
                <mat-checkbox id="styled-checkbox-1" type="checkbox" value="value1"
                formControlName="checked">I have read and agree with the condition above.</mat-checkbox>
            </div>
        </div>

        <!-- Button group -->
        <div class="flex-center">
            <button id="sign-in-btn" (click)="onSetupClicked()" mat-flat-button color="accent" class="full-width-input setup"
                    [disabled]="!accountForm.valid">
                <span class="text-color-login-form"> SET UP ACCOUNT </span>
            </button>
            <button (click)="onCancelClicked(false)" mat-stroked-button class="full-width-input cancel">
                <span class="text-color-login-form"> CANCEL </span>
            </button>
        </div>
    </form>

    <div class="info-message" *ngIf="isSuccess || error ">
        <div *ngIf="error && !isLoading">
            <p>Error message: {{ error}}</p>
            <p>Try again later!</p>
            <button (click)="onCancelClicked(false)" mat-flat-button color="accent" class="full-width-input setup">
                <span class="text-color-login-form">CLOSE</span>
            </button>
        </div>

        <div *ngIf="isSuccess && !isLoading">
            Successfully set up blockchain account!
            <button (click)="onCancelClicked(true)" mat-flat-button color="accent" class="full-width-input setup">
                <span class="text-color-login-form">OK</span>
            </button>
        </div>
    </div>

    <div class="info-message" *ngIf="isLoading">
        <!-- <mat-spinner mode="indeterminate"></mat-spinner> -->
        <div class="container-loader">
            <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                 <circle cx="170" cy="170" r="160" stroke="#8f497c"/>
                 <circle cx="170" cy="170" r="135" stroke="#3c5064"/>
                 <circle cx="170" cy="170" r="110" stroke="#8f497c"/>
                 <circle cx="170" cy="170" r="85" stroke="#3c5064"/>
            </svg>
        </div>
    </div>


</div>
