.step-button-padding {
    margin-right: 15px;
}

.vertical-stepper {
    width: 850px;
    margin: auto;
    .vertical-form {
        display: grid;
    }
}

/deep/ .mat-dialog-container {
    padding: 0!important;
}
