/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables';

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

body {
    background-color: gray;
}

.container-dapp {
    padding: 0;
}
.wrapper {
    display: flex;
    width: 100%;
}

.page-content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $primary-color;
}
.page-content.active {
    width: 100%;
}