/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

body {
    background-color: gray;
}