<div class="col-md-auto col-layout">
    <div class="toolbar-box">
        <mat-toolbar class="login-toolbar">
                <span id="welcome" class="fill-remaining-space">
                    SIGN YOU BALLOT
                </span>
        </mat-toolbar>
    </div>
    <!--*ngIf="!error && !isSuccess && !isLoading"-->
    <form [formGroup]="passwordForm" class="from-gourp" *ngIf="!error && !isSuccess && !isLoading">
        <div class="user-icon">
            <i class="fas fa-user-cog"></i>
        </div>
        <!-- Password -->
        <mat-form-field class="full-width-input">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
        </mat-form-field>

        <div class="sign-up-text">
            <div>
                <label class="session-text">
                    You cannot change your selection once submitted. Do you want to continue?
                </label>
            </div>
        </div>

        <!-- Button group -->
        <div class="flex-center">
            <button type="button" id="sign-in-btn" mat-flat-button color="accent" (click)="onSignButtonClicked()" class="full-width-input setup"
                    [disabled]="!passwordForm.valid">
                <span class="text-color-login-form"> SIGN YOUR BALLOT </span>
            </button>
            <button type="button" (click)="onCancelClicked(false)" mat-stroked-button class="full-width-input cancel">
                <span class="text-color-login-form"> CANCEL </span>
            </button>
        </div>
    </form>

    <div class="info-message" *ngIf="isSuccess || error ">
        <div *ngIf="error && !isLoading">
            <p>Error message: {{ error}}</p>
            <p>Try again later!</p>
            <button type="button" (click)="onCancelClicked(false)" mat-flat-button color="accent" class="full-width-input setup">
                <span class="text-color-login-form">CLOSE</span>
            </button>
        </div>

        <div *ngIf="isSuccess && !isLoading">
            You have successfully submit your vote!
            <button type="button" (click)="onCancelClicked(true)" mat-flat-button color="accent" class="full-width-input setup">
                <span class="text-color-login-form">OK</span>
            </button>
        </div>
    </div>

    <div class="info-message" *ngIf="isLoading">
        <!-- <mat-spinner mode="indeterminate"></mat-spinner> -->
        <div class="container-loader">
            <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                 <circle cx="170" cy="170" r="160" stroke="#8f497c"/>
                 <circle cx="170" cy="170" r="135" stroke="#3c5064"/>
                 <circle cx="170" cy="170" r="110" stroke="#8f497c"/>
                 <circle cx="170" cy="170" r="85" stroke="#3c5064"/>
            </svg>
        </div>
    </div>


</div>
